<div class="item"
     #htmlElement
     tabindex="-1"
     (dblclick)="onDoubleClick.emit()"
     (paste)="this.onPaste($event)"
     (contextmenu)="$event.preventDefault();"
     (keydown)="this.getTextCaretPosition()"
     (mouseup)="this.getTextCaretPosition()"
     [contentEditable]="this.inEditMode == true"
     [ngClass]="{'edited-item': this.inEditMode,
                 'disabled-item': this.isDisabled,
                 'unselected-item': this.hasUnselection,
                 'primary-selection': this.hasPrimarySelection && this.hasSecondarySelection,
                 'secondary-selection-all': this.secondarySelectionType == SecondarySelectionType.All,
                 'secondary-selection-top': this.secondarySelectionType == SecondarySelectionType.Top,
                 'secondary-selection-middle': this.secondarySelectionType == SecondarySelectionType.Middle,
                 'secondary-selection-bottom': this.secondarySelectionType == SecondarySelectionType.Bottom,
                 'primary-selection-border-only': this.hasPrimarySelection && !this.hasSecondarySelection}"
     [ngStyle]="{'display': this.listPasted ? 'block' : null, 'height': this.listPasted ? 'fit-content' : null}"
     (mousedown)="onListItemDown($event); this.getTextCaretPosition()">{{listItem.text}}</div>