<div class="item"
     #htmlElement
     tabindex="-1"
     (contextmenu)="$event.preventDefault();"
     [contentEditable]="listItem.inEditMode == true"
     [ngClass]="{'edited-item': listItem.inEditMode,
                 'disabled-item': listItem.isDisabled,
                 'unselected-item': listItem.hasUnselection,
                 'primary-selection': listItem.hasPrimarySelection && listItem.hasSecondarySelection,
                 'secondary-selection-all': listItem.secondarySelectionType == SecondarySelectionType.All,
                 'secondary-selection-top': listItem.secondarySelectionType == SecondarySelectionType.Top,
                 'secondary-selection-middle': listItem.secondarySelectionType == SecondarySelectionType.Middle,
                 'secondary-selection-bottom': listItem.secondarySelectionType == SecondarySelectionType.Bottom,
                 'primary-selection-border-only': listItem.hasPrimarySelection && !listItem.hasSecondarySelection}"
     (dblclick)="onDoubleClick.emit()"
     (mousedown)="onListItemDown($event)">



        {{listItem.text}}
</div>